<div class="wapper">
  <div class="profil-page-client">
    <div class="profil-picture">
      <img src="/assets/avatar.png" alt="Photo de profil" class="avatar">
    </div>
    <div class="cover-photo">
      <button class="btn-cover">Changer la photo de couverture</button>
      <button class="btn-profile">Changer la photo de profil</button>

      <h1>Mon Compte</h1>
      <h3>client</h3>

      <form>
        <label for="name" class="prenom">Nom / Prénom</label><br>
        <input type="text" placeholder="exmple exmple" id="name">
        <br>
        <label for="courrier" class="courriel">Courriel</label><br>
        <input type="email" placeholder="exemple@gmail.com" id="courrier">
        <br>
        <label for="phone" class="tel">Numéro de Téléphone</label><br>
        <input type="tel" placeholder="exemple@gmail.com" id="phone">
        <br>
        <button type="button" class="btn-ai">CS AI</button>
      </form>

      <button class="logout-btn">Déconnectez-vous</button>
    </div>
  </div>
</div>



