<div class="page-container">

  <header class="top-banner">
    <img src="assets/rayerl.png" class="fond-gauche" alt="fond gauche" />
    <img src="assets/rayerr.png" class="fond-droite" alt="fond droite" />
    <img src="assets/logoc.png" class="logo" alt="Logo Avocatime" />
  </header>


  <nav class="nav-bar">
    <button class="btn-compte">mon compte</button>
    <button class="btn-client">DOSSIER CLIENT</button>
    <button class="btn-deconnecter">Déconnecter</button>
  </nav>


  <main class="content">
    <div class="dossier-card">
      <div class="client-info">
        <p>Nom et Prénom : .........................................................</p>
        <p>Adresse : ...................................................................</p>
        <p>Numéro de téléphone : ..................................................</p>
        <p>Adresse e-mail : ............................................................</p>
        <p>Numéro du dossier attribué au client : ............................</p>
        <p>Type de client : ............................................................</p>
        <p>Informations complémentaire :.............................................................</p>
        <p>....................................................................................</p>
        <p>....................................................................................</p>
      </div>

      <div class="illustration">
        <img src="assets/balance.png" alt="illustration avocat" />
        <button class="ai-button">AVOCAT IA</button>
      </div>
    </div>
  </main>


  <footer class="bottom-banner">
    <img src="assets/footer.png" alt="fond bas" />
  </footer>
</div>
