<div class="login-client">
  <div class="formulaire">
    <img class="logo" src="assets/logo.png" alt="Avocatime Logo">

    <h1>Connectez-Vous À Votre Compte</h1>
    <div class="form-group">
      <label for="email" class="courriel">Courriel</label>
      <input type="email" id="email" name="email" />
    </div>
    <div class="form-group">
      <label for="password" class="password" >Mot de Passe</label>
      <input type="password" id="password" name="password" />
    </div>
    <button type="submit">Connectez-Vous</button>
    <p class="social-text">Connectez-vous avec d'autres</p>
    <div class="social-icons">
      <img src="assets/google.png" alt="Google" class="google">
      <img src="assets/facebook.png" alt="Facebook" class="facebook">
      <img src="assets/microsoft.png" alt="Microsoft" class="microsoft">
      <img src="assets/twitter.png" alt="Twitter" class="twitter">
    </div>
    <p class="new">Vous n'avez pas de compte? <a class="lien">  Créer un compte</a></p>
    <p class="forget">Mot de Passe Oublié </p>
  </div>
</div>
