<div class="ai-bot">
  <button class="account-btn">mon compte</button>
  <header>
    <img src="assets/logo.png" alt="Logo AVOCATIME" class="logo"/>

  </header>

  <main>
    <div class="chat-window"></div>

    <div class="chat-input-bar">
      <input type="text" placeholder="AVOCAT IA"/>
      <button class="send-btn">
        <img src="assets/fleche.png"/>
      </button>
    </div>
    <div class="btn-file">
      <button class="file-btn">joindre fichier</button>
      <button class="voice-btn">Voice</button>
    </div>
  </main>
</div>


