.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-password {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 97vh;
  background: #F5F5F5;
}

.card {
  position: relative;
  background: #000000;
  color: white;
  padding: 1vw;
  border-radius: 2.4vw;
  width: 48vw;
  height: 84vh;
}

.logo {
  width: 9vw;
  height: 22vh;
  margin-bottom: 1vh;
  top: 6vh;
  left: 21vw;
  position: absolute;
}

.back-link {
  position: absolute;
  top: 6vh;
  left: 1vw;
  color: #FFFFFF;
  font-size: 0.7vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 13vw;
  text-decoration: none;
}

h1 {
  position: absolute;
  font-weight: 700;
  font-size: 2vw;
  color: #FFFFFF;
  line-height: normal;
  letter-spacing: 0;
  top: 26vh;
  left: 10vw;
  width: 30vw;
  font-family: 'Poppins', sans-serif;
}

p {
  position: absolute;
  font-weight: 400;
  font-size: 1.1vw;
  color: #FFFFFF;
  line-height: normal;
  letter-spacing: 0;
  top: 35vh;
  left: 10vw;
  width: 30vw;
  font-family: "Port Lligat Sans";
  text-wrap: nowrap;
}

.new {
  position: absolute;
  font-family: "Port Lligat Sans";
  font-weight: 400;
  font-size: 1.2vw;
  color: #FFFFFF;
  line-height: normal;
  letter-spacing: 0;
  top: 46vh;
  left: 10vw;
  width: 12vw;
}

#password {
  position: absolute;
  width: 29.5vw;
  height: 6vh;
  top: 50.5vh;
  left: 10vw;
  background: gray;
  font-size: 2vw;
  color: #FFFFFF;
  border-radius: 1.8vw;
  border: none;
}

.newP {
  position: absolute;
  font-family: "Port Lligat Sans";
  font-weight: 400;
  font-size: 1.2vw;
  color: #FFFFFF;
  line-height: normal;
  letter-spacing: 0;
  top: 58.5vh;
  left: 10vw;
  width: 15.5vw;
}

#confirm {
  position: absolute;
  width: 29.5vw;
  height: 6vh;
  top: 63vh;
  left: 10vw;
  background: gray;
  font-size: 2vw;
  color: #FFFFFF;
  border-radius: 1.8vw;
  border: none;
}

button {
  position: absolute;
  background-color: #F5F5F5;
  color: black;
  border: none;
  border-radius: 1.1vw;
  padding: 0.2vh;
  font-weight: 700;
  cursor: pointer;
  width: 21.5vw;
  height: 4.5vh;
  top: 75vh;
  left: 13.5vw;
  font-family: 'Poppins', sans serif;
  font-size: 1.3vw;
}
