<div class="wrapper">
  <div class="new-password">
    <div class="card">
      <a href="/login" class="back-link">
        <span class="icon">←</span> Retour à la page de connexion
      </a>
      <img src="/assets/logoc.png" alt="Logo" class="logo"/>

      <h1>Définir un mot de passe</h1>
      <p>Votre ancien mot de passe a été présenté.<br>
        Veuillez définir un nouveau mot de passe pour votre compte.</p>

      <label for="password" class="new">Créer un Mot de Passe</label>
      <input type="password" id="password"/>

      <label for="confirm" class="newP">Ressaisissez le Mot de passe</label>
      <input type="password" id="confirm"/>

      <button>Définir le mot de passe</button>
    </div>
  </div>
</div>

