<div class="first-page">
  <div class="top-section">
    <div class="logo">
      <img src="/assets/logo.png" alt="Logo Avocatime" />
    </div>
  </div>

  <div class="cta-section">
    <button class="btn" (click)="goToPageCreateClient()">CRÉEZ VOTRE COMPTE</button>
    <button class="btn" (click)="goToPageLoginClient()">Connectez-Vous</button>
    <img src="/assets/line.png" alt="line" class="line" /><br>
    <img src="/assets/siwan.png" alt="siwan" class="logo-siwan" />
    <p class="footer-text">DÉVELOPPÉ PAR CONNECTYS SIWAN</p>
  </div>
</div>

