<div class="pdf-page">
  <div class="header">
    <button class="btn">Déconnecter</button>
    <button class="btn" (click)="goToPageCompte()">mon compte</button>
  </div>
  <img src="assets/logoc.png" alt="Avocatime" class="logo" />

  <h2 class="title">Choisissez le type de fichier que vous souhaitez joindre</h2>

  <div class="grid">
    <div class="row">
      <div class="card selected">
        <div class="card-content">AUDIENCES</div>
      </div>
      <div class="card">
        <div class="card-content">Articles & Blog</div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-content">Services juridiques</div>
      </div>
      <div class="card">
        <div class="card-content">Rendez-vous</div>
      </div>
      <div class="card">
        <div class="card-content">Témoignages clients</div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-content">Contact & Messages</div>
      </div>
      <div class="card">
        <div class="card-content">Erreurs juridiques</div>
      </div>
      <div class="card">
        <div class="card-content">Parties impliquées</div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-content">Documents associés</div>
      </div>
      <div class="card">
        <div class="card-content">Dossiers judiciaires</div>
      </div>
      <div class="card">
        <div class="card-content">Correction des erreurs</div>
      </div>
    </div>
  </div>
</div>
