<div class="wrapper">
  <div class="code-verification">
    <div class="card">
      <a href="/login" class="back-link">
        <span class="icon">←</span> Retour à la page de connexion
      </a>
      <img src="/assets/logoc.png" alt="Logo" class="logo"/>

      <h1>Vérifier le code</h1>
      <p class="mail">Un code d'authentification a été envoyé à votre adresse e-mail.</p>

      <label for="code" class="newcode">Entrez Le Code</label>
      <input type="password" id="code"/>
      <p class="rien">Vous n'avez pas reçu de code ?</p>
      <p class="send"><a (click)="resendCode()">Renvoyer</a></p>
      <button>Soumettre</button>
    </div>
  </div>
</div>





