<div class="home">
  <div><button class="help-link">Besoin d’aide ?</button></div>

  <div class="container">
    <h1 class="title">BIENVENUE<br/>
      <span class="titre">CHEZ AVOCATIME</span>
    </h1>

    <p class="subtitle">L’espace confidentiel pour gérer vos affaires juridiques</p>
    <img src="/assets/logoc.png" alt="Logo Avocatime" class="logo"/>
    <p class="choix">CHOISISSEZ VOTRE PROFIL POUR CONTINUER</p>
    <div class="btn">
    <button class="btn avocat" (click)="goToAvocatPage()">JE SUIS UN AVOCAT</button>
    <button class="btn client" (click)="goToClientPage()">JE SUIS UN CLIENT</button>
    </div>
    <ul class="list">
      <li>Une plateforme pour simplifier la relation avocat-client</li>
      <li>Gérez vos dossiers juridiques en toute simplicité</li>
      <li>Connexion sécurisée & confidentialité garantie</li>
      <li>Accès réservé aux utilisateurs autorisés</li>
    </ul>

    <footer>DÉVELOPPÉ PAR CONNECTYS SIWAN</footer>
  </div>
</div>
